{% extends "base.html" %}

{% block title %}{{ name }}{% end %}

{% block head %}
    <link href="{{ static_url("hl.css") }}" media="screen, projection" rel="stylesheet" type="text/css">
{% end %}

{% block bodyhooks %} style="" {% end %}
{% block body %}
    <form id="fork" method="post" enctype="multipart/form-data" action="/fork/{{ id }}">
        <textarea name="body" style="width:auto;height:auto;">{{ raw_text }}</textarea>
        <input type="hidden" name="name" value="{{ name }}">
        <input type="submit" class="my_clip_button" value="Fork"/>
       {{ xsrf_form_html() }}
    </form>
{% end %}
