{% extends "base.html" %}

{% block title %}{{ name }}{% end %}
{% block head %}
    <script src="{{ static_url('codemirror.js') }}"></script>
    <link href="{{ static_url('codemirror.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('default.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ static_url("copytoclip/copy.js") }}"></script>
        <script type="text/javascript">
        ZeroClipboard.setMoviePath( '{{ static_url("copytoclip/ZeroClipboard.swf") }}' );
        var clip = null;		
        function init(){
            clip = new ZeroClipboard.Client();
            clip.setHandCursor( true );
            clip.glue( 'd_clip_button', 'd_clip_container' );
            clip.setText("{{ SITE_ROOT }}/{{id}}");
        }; 
    </script>
{% end %}
{% block body %}
    <div align="center" style="padding-top:10px;"><h1 style="text-shadow: 1px 1px 1px #fff">[Name Pending]</h1>
    <div id="d_clip_container" style="position:relative">
        <div class="my_clip_button"><a style="color:black; text-decoration:none;" href="/">Home</a></div>
        
        <div id="d_clip_button" class="my_clip_button">Copy To Clipboard</div>
        
    </div>
    {% if forked_from is not None %}
        <div style="margin-top:20px;">Public Link: <a id="publink" href="{{id}}">{{ SITE_ROOT }}/{{id}}</a></div>
        <div>Forked From: <a id="forklink" href="/{{forked_from}}">{{forked_from}}</a></div>
    {% else %}
        <div style="margin-top:20px;">Public Link: <a id="publink" href="{{id}}">{{ SITE_ROOT }}/{{id}}</a></div>
    {% end %}
    
    </div>

    <div id="code_container" class="code_container">
        <textarea id="codebox">
            {{ code_html }}
        </textarea>
    </div>
    
    <script> 
      var editor = CodeMirror.fromTextArea(document.getElementById("codebox"), {
        lineNumbers: true
      });
        // For later use
<!--      function selectTheme(node) {-->
<!--        var theme = node.options[node.selectedIndex].innerHTML;-->
<!--        editor.setOption("theme", theme);-->
<!--      }-->
        init();
    </script>

{% end %}
