{% extends "base.html" %}

{% block title %}{{ name }}{% end %}

{% block head %}
    <link href="{{ static_url("hl.css") }}" media="screen, projection" rel="stylesheet" type="text/css">
{% end %}

{% block bodyhooks %} style="" {% end %}
{% block body %}
    <a class="my_clip_button" href="/fork/{{ id }}">Fork This Snippet</a>
    {{ fork_count }} forks. - <a href="/viewforks/{{id}}">View Forks</a>
    <br />
    {% if forked_from is not None %}
        <div style="padding-top:15px;padding-bottom:10px;">Forked From: <a id="forklink" href="/{{forked_from}}">{{forked_from}}</a></div>
    {% end %}
    <div id="code_container" style="height:400px; width:auto;overflow:auto;margin-top:50px;border-top:solid 1px #ccc; border-bottom: solid 1px #ccc">
        {{ code_html }}
    </div>
    
    <div style="padding-top:100px;">
    {% if description is not None %}
        {{ description }}
    {% end %}
    </div>
{% end %}