{% extends "base.html" %}

{% block title %}{{ name }}{% end %}

{% block head %}
    <script src="{{ static_url('codemirror.js') }}"></script>
    <link href="{{ static_url('codemirror.css') }}" rel="stylesheet" type="text/css">
{% end %}

{% block bodyhooks %} style="" {% end %}
{% block body %}
    <div align="center" style="padding-top:10px;"><h1 style="text-shadow: 1px 1px 1px #fff">[Name Pending]</h1>
        <a class="my_clip_button" href="/fork/{{ id }}">Fork This Snippet</a>
        {{ fork_count }} forks. - <a href="/viewforks/{{id}}">View Forks</a>
        <br />
        {% if forked_from is not None %}
            <div style="padding-top:15px;padding-bottom:10px;">Forked From: <a id="forklink" href="/{{forked_from}}">{{forked_from}}</a></div>
        {% end %}
    </div>

    {% if description is not None %}
        {{ description }}
    {% end %}
    </div>

    <div id="code_container" class="code_container">
        <textarea id="codebox">
            {{ code_html }}
        </textarea>
    </div>

    <script> 
      var editor = CodeMirror.fromTextArea(document.getElementById("codebox"), {
        lineNumbers: true
      });
        // For later use
<!--      function selectTheme(node) {-->
<!--        var theme = node.options[node.selectedIndex].innerHTML;-->
<!--        editor.setOption("theme", theme);-->
<!--      }-->
    </script> 
{% end %}
