{% extends "base.html" %}

{% block title %}{{ name }}{% end %}

{% block head %}
    <script src="{{ static_url('js/codemirror.js') }}"></script>
    <link href="{{ static_url('css/codemirror.css') }}" rel="stylesheet" type="text/css">
{% end %}

{% block bodyhooks %} style="" {% end %}
{% block body %}
    <form id="fork" method="post" enctype="multipart/form-data" action="/fork/{{ mid }}">
        <textarea name="body" id="codebox" style="width:auto;height:auto;">{{ raw_text }}</textarea>
        <input type="hidden" name="name" value="{{ name }}">
        <br/>
        <input type="submit" class="my_clip_button" value="Fork"/>
       {{ xsrf_form_html() }}
    </form>

    <script> 
      var editor = CodeMirror.fromTextArea(document.getElementById("codebox"), {
        lineNumbers: true,
        mode: "{{ language }}"
      });
        // For later use
<!--      function selectTheme(node) {-->
<!--        var theme = node.options[node.selectedIndex].innerHTML;-->
<!--        editor.setOption("theme", theme);-->
<!--      }-->
    </script> 
{% end %}
