{% extends "base.html" %}

{% block title %}Snippet Upload{% end %}
{% block head %}
    <script src="{{ static_url('js/codemirror.js') }}"></script>
    <script src="{{ static_url('js/jquery.fileupload-ui.js') }}"></script>
    <script src="{{ static_url('js/jquery.fileupload.js') }}"></script>
    <link href="{{ static_url('css/codemirror.css') }}" rel="stylesheet" type="text/css">
{% end %}
{% block body %}
    <div align="center" style="padding-top:10px;"><h1 class="header">[Name Pending]</h1></div>
    
    <div id="form_container">
    <form id="editor_form" method="post" enctype="multipart/form-data" action="/paste">
        <div id="code_container" class="code_container">
            <textarea name="body" id="codebox"></textarea>
        </div>
        <input id="uploaded_file_name" type="hidden" name="name" value="None"/>
        {{ xsrf_form_html() }}
    </form>
    </div>
    <!-- <div align="center" style="margin-top:20px;margin-bottom:10px"><p style="font-size:30pt;text-shadow: 3px 3px 3px #ccc;">OR</p></div>  -->
    <div align="center" style="padding-top: 1em;">

    <div id="magic">
    <form id="file_upload" class="file_upload blue" action="/upload" method="POST" enctype="multipart/form-data">
   		<input type="file" name="file" multiple>
    	<button>Upload</button>
    	<div id="upload_button">Upload</div>
    	{{ xsrf_form_html() }}
    </form>
    </div>
    
    <table style="display:none" id="files"></table>
    </div>
    </div>
    
    <script type="text/javascript"> 
        // Pay off the fairies so the black magic doesn't fail us.
        $('#file_upload').fileUploadUI({
		            uploadTable: $('#files'),
		            downloadTable: $('#files')
        });

        // Inject codemirror into the textarea and configure it.
        var editor = CodeMirror.fromTextArea(document.getElementById("codebox"), {
            lineNumbers: true,
            onKeyEvent: textChanged
            
        });

        // Handle changes to editor's content.
        function textChanged(editor) {
            // Text entered
            if (editor.getValue() !== "" && $("#upload_button").text() === "Upload") {
                $('#magic').html('<form id="submit_upload" class="file_upload blue" action="/upload" method="POST" enctype="multipart/form-data"><button>Go</button><div id="upload_button">Go</div></form>');
                
            }
            // No text entered
            if (editor.getValue() === "" && $("#upload_button").text() === "Go") {
                $('#magic').html('<form id="file_upload" class="file_upload blue" action="/upload" method="POST" enctype="multipart/form-data"> <input type="file" name="file" multiple><button>Upload</button><div id="upload_button">Upload</div>{{ xsrf_form_html() }}</form>');
            }
        }; 


        // Not sure this is needed.
        /*
        // Handle clicking the button.
        $("#file_upload").click(function() {
            if ($("#upload_button").text() === "Go") {
            }
	    });
        */

        // Handle clicking the button.
        $("#submit_upload").live('click', function() {
            $.post("/paste", {"body" : editor.getValue(), "name": $("#uploaded_file_name").val()}, function(response) {
                    document.write(response);
                });
	    });
        
    </script>
{% end %}
