{% extends "base.html" %}

{% block title %}Snippet Upload{% end %}
{% block head %}
    <script src="{{ static_url('js/codemirror.js') }}"></script>
    <script src="{{ static_url('js/jquery.fileupload-ui.js') }}"></script>
    <script src="{{ static_url('js/jquery.fileupload.js') }}"></script>
    <link href="{{ static_url('css/codemirror.css') }}" rel="stylesheet" type="text/css">
{% end %}
{% block body %}
    <div align="center" style="padding-top:10px;"><h1 style="text-shadow: 1px 1px 1px #fff">[Name Pending]</h1></div>
    
    <div id="code_container" class="code_container">
        <textarea id="codebox">
        </textarea>
    </div>

    <div align="center" style="margin-top:20px;margin-bottom:20px"><p style="font-size:36pt;text-shadow: 3px 3px 3px #ccc;">OR</p></div>
    <div align="center">

    <form id="file_upload" class="file_upload blue" action="/upload" method="POST" enctype="multipart/form-data">
   		<input type="file" name="file" multiple>
    	<button>Upload</button>
    	<div>Upload</div>
    	{{ xsrf_form_html() }}
    </form>
    <table style="display:none" id="files"></table></div>
    </div>
    
    <script> 
      var editor = CodeMirror.fromTextArea(document.getElementById("codebox"), {
        lineNumbers: true
      });
        // For later use
<!--      function selectTheme(node) {-->
<!--        var theme = node.options[node.selectedIndex].innerHTML;-->
<!--        editor.setOption("theme", theme);-->
<!--      }-->
    </script> 
    <script>
    $(function(){
        $("file_upload").hover(function(){
		  console.log("hover");
		  $(this).animate({
             background: '#a2d6ef'
            }, 5000, function() {
    		// Animation complete.
  		    });
		});
        $('#file_upload').fileUploadUI({
			        uploadTable: $('#files'),
			        downloadTable: $('#files'),
			        buildUploadRow: function (files, index) {
			            return $('<tr><td>' + files[index].name + '<\/td>' +
			                    '<td class="file_upload_progress"><div><\/div><\/td>' +
			                    '<td class="file_upload_cancel">' +
			                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
			                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
			                    '<\/button><\/td><\/tr>');
			        },
			        buildDownloadRow: function (file) {
			            return $('<tr><td>' + file.name + '<\/td><\/tr>');
			        }
			    });			
			
    });
    </script>
{% end %}
