{% extends "base.html" %}

{% block title %}Forks of {{ title }}{% end %}
{% block head %}
{% end %}

{% block body %}
    <div align="center"><h1 class="header">[Forks of <a class="hover_link" href="/{{title}}">{{ title }}</a>]</h1>
    <ul style="list-style:none">
    {% for fork in forks %}
        <li style="text-shadow:1px 1px 1px #fff;">
            <p><b><a class="hover_link" href="/{{fork[1]}}">{{ fork[0] }}</a></b></p>
            <div><div class="blue_button">View Differences</div></div>
            <p style="padding-top:10px;font-size:10pt; color:#aaa;">{{SITE_ROOT}}/{{fork[1]}}</p>
        </li>
    {% end %}
    </ul>
    </div>
{% end %}
